/* Font Family from Google fonts Red Hat Display */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;900&display=swap');

:root {
    /* Primary blue colour */
    --clr-pale: hsl(225, 100%, 94%);
    --clr-bright: hsl(245, 75%, 52%);
    
    /* Neutral blue colour */
    --clr-very-pale: hsl(225, 100%, 98%);
    --clr-desaturated: hsl(224, 23%, 55%);
    --clr-dark: hsl(223, 47%, 23%);

    /* Font weights */
    --font-wght-medium: 500;
    --font-wght-bold: 700;
    --font-wght-black: 900; 
    
    /* Font size */
    --fsize-medium: 1rem;
    --fsize-small: 0.75rem;
    --fsize-large: 1.75rem;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: var(--fsize-medium);
  font-weight: var(--font-wght-medium);
  color: var(--clr-desaturated);
  background-color: var(--clr-pale);
  line-height: 1.625;
  /* display the card center */
  display: grid;
  min-height: 100vh;
  place-items: center;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h2 {
  font-size: var(--fsize-large);
  color: var(--clr-dark);
}

/* Block componet */

.card {
  max-width: 450px;
  background-color: white;
  text-align: center;
  border-radius: 1.75rem;
  overflow: hidden;
}

/* Element that depends on the block */

.card__copy  {
  padding: 3rem;
  display: grid;
  gap: 1rem;
}

.card__plan {
  padding: 1.5rem;
  background-color: var(--clr-very-pale);
  text-align: left;
  display: flex;
  gap: 1em;
  border-radius: 1rem;
}

/* Modifier that changes the style of the block */

.move--end {
  margin-left: auto;
}

a,
.link {
  background-color: transparent;
  border: 0;
  color: var(--clr-bright);
  font-weight: var(--font-wght-bold);
  text-decoration: underline;
  cursor: pointer;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: var(--clr-desaturated);
  text-decoration: none;
}

.fw--black-bold {
  color: var(--clr-dark);
  font-weight: var(--font-wght-bold);
}

.button {
  background-color: transparent;
  padding: 1em 2em;
  color: white;
  font-weight: var(--font-wght-bold);
  cursor: pointer;
  text-decoration: none;
  border-radius: .5em;
  border: none;
}

.button--color:hover,
.button--color:focus {
  background-color: var(--clr-desaturated);
}

.button--color {
  background-color: var(--clr-bright);
  box-shadow: 5px 5px 20px var(--clr-desaturated);
}

.button--clear {
  color: var(--clr-desaturated);
  padding: 0;
}

.button--clear:hover,
.button--clear:focus {
  color: var(--clr-dark);
  background-color: none;
}